<carousel>
    <slide>
        <img src="../../../assets/img/slider/1.jpg" alt="first slide"
            style="display: block; width: 100%;">
        <div class="title-slider">
            <span>Wise Business Start-up Academy </span>
        </div>
    </slide>
    <slide>
        <img src="../../../assets/img/slider/3.jpg" alt="first slide"
            style="display: block; width: 100%;">
    </slide>
</carousel>
<app-second-section></app-second-section>
<app-third-section></app-third-section>
<app-fourth-section></app-fourth-section>