<carousel>
  <slide>
    <img src="../../../assets/img/slider/1.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="title-slider">
      <span> سرمایه گذاری مطمئن، آینده ای بهتر </span>
    </div>
  </slide>
  <slide>
    <img src="../../../assets/img/slider/3.jpg" alt="first slide" style="display: block; width: 100%;">

    <div class="title-slider">
      <span> گسترش کسب و کار، مشاوره اقامت </span>
    </div>
  </slide>
</carousel>
<app-second-section></app-second-section>
<app-third-section></app-third-section>
<app-fourth-section></app-fourth-section>
