<section id="touristResidence">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      اقامت توریستی
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify">
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        منظور از اقامت توریستی ترکیه چیست؟
      </h5>
      <p class="fs-13 lh2">
        این اقامت برای افرادی صادر می‌شود که قصد دارند بیش از ۹۰ روز در ترکیه
        بمانند و از مزایای اقامت در این کشور نیز در این مدت بهره مند شوند. از
        آنجایی که این روش معمولاً به منظور مقاصد توریستی انتخاب می‌شود، لذا به
        این نوع اقامت، اقامت توریستی ترکیه نیز گفته می‌شود.
      </p>
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        آیا با اقامت توریستی ترکیه می‌توان کار کرد؟
      </h5>
      <p class="fs-13 lh2">
        بله. اما برای کار در ترکیه، اولاً باید ۶ ماه از تاریخ اقامت شما در ترکیه
        به روش اقامت ترکیه با اجاره خانه (یا هر روش دیگری) گذشته باشد و ثانیاً
        شما باید موفق به اخذ اجازه کار در ترکیه (Çalışma izin) شده باشید. برای
        دریافت اجازه کار در ترکیه، لازم است شما توسط یک کارفرمای ترک استخدام شده
        باشید و برای شما بیمه رد شود و ظرف فرصت تعیین شده، برای دریافت اجازه کار
        به اداره کار ترکیه مراجعه کنید.
      </p>
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        مزایای دریافت اقامت ترکیه از این روش چیست؟
      </h5>
      <ul class="fs-13 lh2">
        <li>
          امکان اخذ سریع وقت سفارت سایر کشورها (نظیر آلمان، اتریش، اسلواکی و…)
          در ترکیه (به علت آنکه شما یک مقیم ترک محسوب می‌شوید
        </li>
        <li>
          امکان حضور در ترکیه برای بررسی سرمایه گذاری و سایر روش‌های اقامتی
          ترکیه
        </li>
        <li>
          آسان‌ترین روش اخذ اقامت ترکیه (به این دلیل که اقامت توریستی ترکیه برای
          این کشور ارز آوری و درآمدزایی دارد).
        </li>
        <li>
          ارزان‌ترین راه دریافت اقامت ترکیه
        </li>
        <li>
          امکان درخواست اقامت کاری ترکیه با داشتن کارت اقامت
        </li>
      </ul>

      <hr>
      <div class="bg-white bottom-contact-info card-1 p-3 round-10 shadow-sm
        w-50">
        <span class="d-block font-weight-bold fs-13 inner-title lh2 text-center
          text-third-color">
          برای کسب اطلاعات بیشتر مشاور رایگان ما در خدمت شماست می توانید از طریق
          ایمیل یا واتساپ در ساعات اداری با ما در تماس باشید.
        </span>
        <div class="inner-contact">
          <small> شماره واتساپ :</small>
          <a target="_blank" href="" class="latin" dir="ltr">

          </a>
          <small> آدرس ایمیل :</small>
          <a target="_blank" href="mailto:" class="latin"
            dir="ltr">

          </a>
        </div>
      </div>
    </div>
  </div>
</section>