<section id="NoelLife">

  <div class="container">
    <div class="border-0 card mb-5 mt-3 p-4 shadow-lg">
      <div class="main-header w-50">
        <h3 class="text-center fs-16 font-weight-bold text-third-color">
          پروژه نورل لایف (ماسلاک)
        </h3>
      </div>
      <div class="content-page text-justify mt-4">
        <p class="fs-13 lh2">
          شرکت نورل یکی از مطرح ترین سازنده های ترکیه می باشد.
          <br>
          شما با خرید ملک از پروژه های این شرکت می توانید پاسپورت ترکیه را
          دریافت
          کنید و سالانه 9 درصد ارزش خریداری شده را اجاره دریافت نمایید.
        </p>
      </div>
    </div>

    <carousel>
      <slide>
        <img src="../../../../../assets/img/pages/life/1.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/2.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/4.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/5.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/6.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/7.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/8.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/9.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/10.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/11.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/12.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/13.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/14.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/15.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/16.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/3.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/17.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/18.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/19.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/20.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/21.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/22.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/23.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/24.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/25.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/26.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/27.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/28.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/29.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/30.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/31.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
      <slide>
        <img src="../../../../../assets/img/pages/life/32.JPG" alt="first slide"
          style="display:
          block; width: 100%;">
      </slide>
    </carousel>
  </div>
</section>
