<section id="contactUs" class="pb-3 pt-3">
  <div class="container">
    <div class="card mt-3 mb-3 p-4 border-0 shadow-sm">

      <div class="content-page text-justify mt-4">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="main-header w-50">
              <h3 class="text-center fs-20 font-weight-bold text-third-color">
                تماس با ما
              </h3>
            </div>
            <p class="font-weight-bold fs-13 lh2 mt-3 text-justify text-third-color">
              برای کسب اطلاعات بیشتر مشاور رایگان ما در خدمت شماست می توانید از طریق ایمیل یا واتساپ در ساعات اداری با
              ما در تماس باشید .
            </p>
            <div class="phone mt-3 mr-5">
              <div class="mb-4">
                <i class="fa fa-phone fs-17 text-first-color"></i>
                <span class="d-inline-block pr-3 font-weight-bold fs-15 pb-3 text-first-color"> ایران - تهران </span>
                <a class="d-block font-weight-bold text-third-color" href="callto:00989122176608">
                  00989122176608
                </a>
              </div>
              <div class="mb-4">
                <i class="fa fa-phone fs-17 text-first-color"></i>
                <span class="d-inline-block pr-3 font-weight-bold fs-15 pb-3 text-first-color"> ترکیه - استانبول </span>
                <a class="d-block font-weight-bold text-third-color" href="callto:00905383105573">
                  00905383105573
                </a>
              </div>
            </div>
            <ul class="socials m-0 p-0 text-center">
              <li class="socials__telegram bg-first-color d-inline-block mr-2
                relative">
                <a href="https://t.me/istanbulhome1" target="_blank" class="icon text-center">
                  <i class="d-block fa fa-paper-plane position-absolute
                    text-white"></i>
                </a>
              </li>
              <li class="socials__instagram bg-first-color d-inline-block mr-2
                relative">
                <a href="https://instagram.com/istanbulhome1?igshid=1u0u0n1x5ch6s" target="_blank" class="icon text-center">
                  <i class="d-block fab fa-instagram relative position-absolute
                    text-white fs-20"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-12 relative">
            <div class="img-wrapper position-absolute w-100 text-center">
              <img src="../../../../assets/img/contact-us.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
