<section id="hotelsProject">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      پروژه هتل های کوچک
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify mt-4">
      <p class="fs-13 lh2">
        چنانچه قصد سرمایه گذاری دارید این پروژه را در نظر بگیرید
        شرکت stralende zukunft ثبت شده در کشور آلمان در حال حاضر قصد راه اندازی
        تعدادی هتل های متوسط در مناطق توریستی کشور ترکیه را دارد.
        <br/>
          هتل ها بصورت بیست ساله اجاره می گردد، و تجهیز و بهره برداری می گردد.
        </p>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check text-first-color fs-18 pl-1"></i>
          مزایای طرح :
        </h5>
        <ul class="fs-13 lh2">
          <li>
            سرمایه گذاری بصورت خرید سهم در راه اندازی
          </li>
          <li>
            سرمایه گذاری بصورت ارزی است که ارزش سرمایه شما رو حفظ می کند.
          </li>
          <li>
            امکان دریافت سود بصورت دوره ای سه ماهه بصورت ارزی
          </li>
          <li>
            امکان قراردادن یک نفر نیروی کار در پروژه به ازای هر سهم
          </li>
          <li>
            دریافت یک اقامت کاری ترکیه به ازای هر سهم پروژه
          </li>
          <li>
            امکان بازپرداخت سرمایه گذاری انجام شده بعد از شش ماه
          </li>
          <li>
            مدیریت قوی و سرمایه مدیریت هتل حتی بدون نیاز به حضور
          </li>

        </ul>

        <p class="fs-13 lh2">
          لازم به ذکر است مکان هتل ها جهت کم شدن حجم سرمایه گذاری بصورت استیجاری
          تهیه می شود، مبلغ سرمایه گذاری صرف تجهیز، مجوزات و راه اندازی هتل می
          گردد.
        </p>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check text-first-color fs-18 pl-1"></i>
          معرفی پروژه :
        </h5>
        <ul class="fs-13 lh2">
          <li>
            یک پروژه هتل با ۴۳ اتاق و ۹۰ تخت خواب نزدیک میدان تقسیم
          </li>
          <li>
            دارای رستوران و بار
          </li>
          <li>
            اتاق جلسات
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check text-first-color fs-18 pl-1"></i>
          مبلغ سرمایه گذاری:
        </h5>
        <ul class="fs-13 lh2">
          <li>
            قیمت هر سهم ۱۰۰.۰۰۰ لیره
          </li>
          <li>
            حداکثر تعداد سهم برای یک نفر ۵ سهم
          </li>
          <li>
            هر سهم یک نفر اجازه کار و اقامت کاری در پروژه را دارد
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check text-first-color fs-18 pl-1"></i>
          نحوه سرمایه گذاری :
        </h5>
        <ul class="fs-13 lh2">
          <li>
            قرارداد رسمی با شرکت و ثبت آن در دفترخانه
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check text-first-color fs-18 pl-1"></i>
          نحوه خروج از پروژه :
        </h5>
        <ul class="fs-13 lh2">
          <li>
            درخواست کتبی صاحب سهام یا وکیل رسمی همراه با شماره حساب ارزی
          </li>
          <li>
            واریز پول ظرف مدت ۳۰ روز
          </li>
          <li>
            رضایت نامه محضری درخصوص بازپرداخت سرمایه و خروج از پروژه
          </li>
          <li>
            توجه فرمایید در شش ماه اول پس از سرمایه گذاری امکان خروج و فروش سهام
            وجود ندارد پس در هنگام تصمیم گیری برای شروع این مورد رو مد نظر قرار
            بدید.
          </li>
        </ul>

        <p class="fs-13 lh2">
          توجه کنید ترکیه بازار مناسبی برای کار پیدا کردن نیست چون حدود ۱۱ درصد
          جمعیت بیکار داره و چنانچه کار مناسبی در جایی باشه الویت با خود
          شهروندان ترک تبار است، برای کار کردن باید خودتون فکر ایجاد یک کسب و
          کار باشید، با پول و سرمایه کم امکان از بین رفتن کل سرمایه وجود داره پس
          بردن پول در یک سرمایه گذاری بزرگ که امکان کار کردن به شما رو بده
          بهترین ایده است. این ایده بهترین فرضت رو برای کار کردن شما فراهم می
          کنه و سود قابل توجهی هم از سرمایه گذاریتون می برید پس کمی فکر، تحقیق و
          عمل
          منتظر شما هستیم.

        </p>
      </div>
    </div>
  </section>