<section id="EntrepreneurialResidency" class="pb-3 pt-3">
  <div class="container">
    <div class="card mt-3 mb-3 p-4">
      <div class="main-header w-50">
        <h3 class="text-center fs-16 font-weight-bold text-third-color">
          اقامت کارآفرینی
        </h3>
      </div>
      <div class="content-page text-justify mt-4">

        <p class="fs-13 lh2">
          اگر کارآفرین از کشوری خارج از اتحادیه اروپا بخواهد کسب و کار خود را در
          آلمان شروع کند، یا تمایل به افتتاح شعبه‌ای در آلمان داشته باشد، باید
          برای دریافت اقامت آلمان اقدام کند تا از لحاظ قانونی‌ مجاز به انجام
          فعالیت اقتصادی در این کشور باشد. اکثر این کارآفرینان باید درخواست
          خوداشتغالی خود را از طریق سفارت یا کنسول‌های آلمان در کشور زادگاه خود
          ارائه دهند.
        </p>
        <p class="fs-13 lh2">
          تنها تعداد محدودی از کشور‌های خارج از اتحادیه اروپا مجاز می‌‌باشند که
          برای سفر به آلمان جهت کسب و کار خود بدون ویزا وارد آلمان شوند مانند
          استرالیا، اسرائیل، کانادا، نیوزلند، کره جنوبی و آمریکا که حتی افراد
          مقیم همین کشور‌ها نیز برای کار و زندگی‌ در آلمان نیازمند دریافت اقامت
          قانونی‌ آلمان می‌‌باشند.
        </p>
        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          اقامت از طریق کارآفرینی در آلمان به دو صورت است:
        </h5>
        <ul class="fs-13 lh2">
          <li>
            <span class="font-weight-bold text-third-color">اقامت کوتاه مدت</span>
            <p>
              افرادی که به صورت متناوب در بازه‌های زمانی‌ کوتاه (کمتر از ۳ ماه)
              در طول ۶ ماه به آلمان رفت و آمد دارند، باید برای ویزای بازرگانی
              مولتیپل ( business visa type C )اقدام کنند که می تواند بین ۶ ماه
              تا ۵ سال اعتبار داشته باشد.
            </p>
          </li>
          <li>
            <span class="font-weight-bold text-third-color">اقامت بلند مدت</span>
            <p>
              برای اقامت‌های طولانی‌تر که شخص برای اشتغال خود در کشور آلمان به
              آن‌ احتیاج دارند، ویزای ورود (residence visa type D) و به تبع آن
              طبق بند ۲۱ قانون مهاجرت دریافت اقامت آلمان نیاز می‌‌باشد. این
              مسأله علاوه بر کار آفرینان کسب و کار‌های استارت آپ و بازرگانان
              تجاری، شامل مدیران اجرایی شرکت‌ها نیز می‌‌شود. مدارک زیر باید به
              سازمان‌های ذیصلاح در آلمان ارائه شود و پروسه حقوقی و تجاری اقامت
              در این سازمان‌ها تا دریافت اقامت برای کارآفرین پیگیری گردد:
            </p>
          </li>
          <li>
            فرم پر شده درخواست اقامت آلمان
          </li>
          <li>
            طرح کسب و کار ( بیزینس پلن )
          </li>
          <li>
            یک صفحه چکیده از کلیات طرح کسب و کار
          </li>
          <li>
            ایده تأمین مالی‌ شرکت شامل صورت سود و زیان، میزان سرمایه مورد نیاز،
            طرح تأمین مالی‌ و طرح نقدینگی
          </li>
          <li>
            گواهی بیمه خدمات درمانی
          </li>
          <li>
            رزومه کاری شامل سوابق و تحصیلات
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          این مدارک مورد مطالعه قرار میگیرند تا بررسی شود که آیا معیار‌های زیر
          تامین می گردد یا خیر:
        </h5>
        <ul class="fs-13 lh2">
          <li>
            آیا علاقه تجاری یا نیاز منطقه‌ای برای ایده کسب و کار وجود دارد؟
          </li>
          <li>
            آیا تأثیر کسب و کار بر اقتصاد منطقه مورد نظر در آلمان مثبت است؟
          </li>
          <li>
            پروژه دارای پشتیبانی‌ مالی‌ از طریق سرمایه یا وام تضمین شده
            می‌‌باشد؟
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          شرایط درخواست اقامت
        </h5>
        <p class="fs-13 lh2">
          از نظر قانونی چند شرط اساسی برای تقاضای درخواست اقامت کشور آلمان لازم
          و ضروری می باشد
        </p>
        <ul class="fs-13 lh2" style="list-style-type: none;">
          <li>
            ۱- طرح توجیهی اقتصادی قابل قبول که مورد تائید اداره بازرگانی آلمان
            باشد. (همچنین نیاز به تأیید اتاق بازرگانی ایالتی که در آن قصد انجام
            فعالیت دارید)

          </li>
          <li>
            ۲- ارائه رزومه شامل مدرک تحصیلی و مدارک شغلی. (تنها برای ارائه به
            سفارت)

          </li>
          <li>
            ۳- ثبت شرکت و انجام امور مربوط به شرکت (GMBH)

          </li>
          <li>

            ۴- یکی از شروط ثبت شرکت واریز مبلغ حداقل ۱۲۵۰۰ یورو به حساب بانکی
            شرکت است.

          </li>
          <li>
            ۵- داشتن منابع مالی کافی برای راه‏اندازی کسب و کار در کشور آلمان
          </li>
          <li>

            ۶- در صورتی که سن متقاضی بالای ۴۵ سال باشد، باید حقوق بازنشستگی،
            دارایی یا سپرده بانکی بالایی داشته باشد که پشتیبان او برای زندگی در
            آلمان باشد.

          </li>
          <li>
            ۷- در صورتی که متقاضی تحصیلات پایین‏تر از کارشناسی داشته باشد، تسلط
            به زبان آلمانی لازم است.

          </li>
          <li>
            ۸- داشتن مبلغ ۲۵ هزار یورو سرمایه برای خرید یک GmbH آماده (سرمایه در
            حساب بانکی) به علاوه هزینه های ثبت (حدود ۳۰۰۰ یورو)

          </li>
          <li>
            ۹- کسب و کاری که متقاضی قصد راه اندازی آن را دارد، باید متناسب با
            نیاز اقتصادی آن منطقه طراحی شود. همچنین نشان داده شود که تاثیر مثبتی
            بر اقتصاد منطقه دارد

          </li>

        </ul>

        <p class="fs-13 lh2">
          متقاضی بعد از دریافت تأییدیه طرح توجیهی اقتصادی، با مراجعه به سفارت
          آلمان و دریافت ویزای ورود به آلمان، (نوع D ) اقدام به نهایی کردن ثبت
          شرکت و انجام سرمایه گذاری های لازم می نماید. سپس ویزای ورود تبدیل به
          اقامت یک ساله می شود که در صورت برقرار بودن فعالیت اقتصادی، هر سال
          تمدید می گردد.
        </p>
        <p class="fs-13 lh2">
          پس از گذشت ۳ سال از اقامت و حضور در آلمان و ارائه گزارش کاری و مالیاتی
          به فرد متقاضی و خانواده وی اقامت دائم تعلق می گیرد.
        </p>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          مزایا
        </h5>
        <ul class="fs-13 lh2">
          <li>
            ایجاد فرصت های اقتصادی عالی پس از رفع تحریم ها
          </li>
          <li>
            دسترسی به تولیدکنندگان برتر اروپا و امکان ایجاد همکاری در تولید
            محصولات بازار مشترک و یا تحت لیسانس
          </li>
          <li>
            بهره گیری از شرایط مطلوب اقتصادی در کشور آلمان با قوی ترین اقتصاد در
            اروپا و یکی از بزرگترین اقتصادهای دنیا
          </li>
          <li>
            وام های بلند مدت با بهره های پایین
          </li>
          <li>
            تجارت آزاد با سراسر دنیا
          </li>
          <li>
            استفاده از سوبسیدها و مشوق های اقتصادی ویژه
          </li>
          <li>
            مرکزیت در اروپا و نزدیک بودن به ایران و وجود پروازهای مستقیم و ارزان
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>