<div id="Header" class="relative">
  <!-- Nav tabs -->
  <div class="header-wrapper position-absolute w-100">
    <div class="container">
      <div class="logo float-left">
        <span>
          LOGO
        </span> 
      </div>
      <ul class="nav nav-tabs border-bottom-0 float-right" id="navId">
        <li class="nav-item">
          <a href="#tab1Id" class="nav-link active">Active</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
            role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#tab2Id">Action</a>
            <a class="dropdown-item" href="#tab3Id">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#tab4Id">Action</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#tab5Id" class="nav-link">Another link</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>

  <carousel>
    <slide>
      <img src="../../../assets/img/slider/1.jpg" alt="first slide"
        style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../../../assets/img/slider/3.jpg" alt="first slide"
        style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
