<section id="marketResearch">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      تحقیقات بازار
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify mt-4">
      <p class="fs-13 lh2">
        <i class="fa fa-adjust text-first-color fs-12 pl-1"></i>
        یکی از مهمترین کارهایی که برای حضور در بازار های بین المللی باید حتما
        انجام دهید تحقیقات بازار روی کاری است که می خواهید انجام دهید.
      </p>
      <p class="fs-13 lh2">
        <i class="fa fa-adjust text-first-color fs-12 pl-1"></i>
        شناخت بازار استراتژی شما را برای نحوه ورود به بازار مشخص می کند.
      </p>
      <p class="fs-13 lh2">
        <i class="fa fa-adjust text-first-color fs-12 pl-1"></i>
        شرکت ما با داشتن دهها مورد تحقیقات بازار موفق می تواند از هدر رفتن منابع
        و امکانات شما جلوگیری کند و سرعت شما را در رسیدن به اهدافتان سریعتر
        نماید.
      </p>
      <p class="fs-13 lh2">
        <i class="fa fa-adjust text-first-color fs-12 pl-1"></i>
        ما در مطالعاتمان حتی به مواردی رسیدیم که به سفارش دهنده نظر کارشناسی
        دادیم شما با این محصول یا این خدمات شانسی برای موفقیت در این بازار
        نخواهید داشت، و جلوی هدر رفت زمان و مالی آن مجموعه را گرفتیم.
      </p>
      <p class="fs-13 lh2">
        <i class="fa fa-adjust text-first-color fs-12 pl-1"></i>
        دقت کنید حضور در یک بازار خارجی که شما پارامترها و مولفه های آن بازار را
        به درستی نمی شناسید ریسک بالایی برای شما خواهد داشت و سرمایه شما را به
        خطر خواهد انداخت، پس صرف هزینه اندک (در مقابل سرمایه گذاری) به شما این
        امکان را می دهد که با چشمانی باز وارد یک بازار جدید شوید.
        تردید نکنید که این یک هزینه اضافی نیست، تحقیقات بازار چراغ است که راه
        شما را به شما نشان می دهد.
      </p>
    </div>
  </div>
</section>