<section id="FourthSection" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12 item">
        <a href="https://www.tremglobal.com/property/coral-city-istanbul"
          class="property-link">
          <div class="property-main shadow">
            <div class="image relative">
              <img src="../../../../assets/img/fourth-section/Berlin.jpg"
                class="img-responsive" alt="">
              <div class="price position-absolute">
                <span class="fs-12">
                  قیمت :
                  <strong class="fs-13 text-third-color"> $247.354</strong>
                </span>
              </div>
            </div>
            <div class="attributes bg-white shadow pt-2 pr-3 pl-3 pb-2">
              <div class="text-right text-first-color font-weight-bold fs-15">
                برلین
              </div>
              <div>
                <p class="fs-11 text-right mt-2 text-third-color lh2">
                  پایتخت کشور آلمان و بزرگ‌ترین شهر هم از لحاظ جمعیت و هم از
                  لحاظ مساحت در این کشور است و در کل اتحادیه اروپا بعد از خروج
                  بریتانیا مقام اول را دارد.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 item">
        <a href="https://www.tremglobal.com/property/coral-city-istanbul"
          class="property-link">
          <div class="property-main shadow">
            <div class="image relative">
              <img src="../../../../assets/img/fourth-section/Munich.jpg"
                class="img-responsive" alt="">
              <div class="price position-absolute">
                <span class="fs-12">
                  قیمت :
                  <strong class="fs-13 text-third-color"> $247.354</strong>
                </span>
              </div>
            </div>
            <div class="attributes bg-white shadow pt-2 pr-3 pl-3 pb-2">
              <div class="text-right text-first-color font-weight-bold fs-15">
                مونیخ
              </div>
              <div>
                <p class="fs-11 text-right mt-2 text-third-color lh2">
                  مونیخ بر روی رود ایسار و شمال کوه آلپ قرار
                  گرفته‌است. مونیخ سومین شهر بزرگ آلمان پس از برلین و هامبورگ
                  است.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 item">
        <a href="https://www.tremglobal.com/property/coral-city-istanbul"
          class="property-link">
          <div class="property-main shadow">
            <div class="image relative">
              <img src="../../../../assets/img/fourth-section/Hamburg.jpg"
                class="img-responsive" alt="">
              <div class="price position-absolute">
                <span class="fs-12">
                  قیمت :
                  <strong class="fs-13 text-third-color"> $247.354</strong>
                </span>
              </div>
            </div>
            <div class="attributes bg-white shadow pt-2 pr-3 pl-3 pb-2">
              <div class="text-right text-first-color font-weight-bold fs-15">
                هامبورگ
              </div>
              <div>
                <p class="fs-11 text-right mt-2 text-third-color lh2">
                  هامبورگ ، دومین شهر بزرگ آلمان و همچنین
                  هشتمین در اتحادیه اروپا است. هامبورگ سومین بندر بزرگ در اروپا
                  بعد از آنتورپ و روتردام است.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>