<section id="FourthSection" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12 item">
        <a routerLink="/NoelTower"
          class="property-link">
          <div class="property-main shadow">
            <div class="image relative">
              <img src="../../../../../assets/img/pages/tower/28.JPG"
                class="img-responsive" alt="">
              <div class="price position-absolute">
                <span class="fs-12">
                  <strong class="fs-13 text-third-color"></strong>
                </span>
              </div>
            </div>
            <div class="attributes bg-white shadow pt-2 pr-3 pl-3 pb-2">
              <div class="text-right text-first-color font-weight-bold fs-15">
                نورل تاور (شیشلی)
              </div>
              <div>
                <p class="fs-11 text-right mt-2 text-third-color lh2">
                  شرکت نورل یکی از مطرح ترین سازنده های ترکیه می باشد.
                  شما با خرید ملک از پروژه های این شرکت می توانید پاسپورت ترکیه
                  را دریافت کنید و سالانه 9 درصد ارزش خریداری شده را اجاره
                  دریافت نمایید.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 item">
        <a routerLink="/NoelPark"
          class="property-link">
          <div class="property-main shadow">
            <div class="image relative">
              <img src="../../../../../assets/img/pages/park/28.JPG"
                class="img-responsive" alt="">
              <div class="price position-absolute">
                <span class="fs-12">
                  <strong class="fs-13 text-third-color"></strong>
                </span>
              </div>
            </div>
            <div class="attributes bg-white shadow pt-2 pr-3 pl-3 pb-2">
              <div class="text-right text-first-color font-weight-bold fs-15">
                پروژه نورل پارک (باهچه شهیر)
              </div>
              <div>
                <p class="fs-11 text-right mt-2 text-third-color lh2">
                  شرکت نورل یکی از مطرح ترین سازنده های ترکیه می باشد.
                  شما با خرید ملک از پروژه های این شرکت می توانید پاسپورت ترکیه
                  را دریافت کنید و سالانه 9 درصد ارزش خریداری شده را اجاره
                  دریافت نمایید.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 item">
        <a routerLink="/NoelLife"
          class="property-link">
          <div class="property-main shadow">
            <div class="image relative">
              <img src="../../../../../assets/img/pages/life/14.JPG"
                class="img-responsive" alt="">
              <div class="price position-absolute">
                <span class="fs-12">
                  <strong class="fs-13 text-third-color"></strong>
                </span>
              </div>
            </div>
            <div class="attributes bg-white shadow pt-2 pr-3 pl-3 pb-2">
              <div class="text-right text-first-color font-weight-bold fs-15">
                پروژه نورل لایف (ماسلاک)
              </div>
              <div>
                <p class="fs-11 text-right mt-2 text-third-color lh2">
                  شرکت نورل یکی از مطرح ترین سازنده های ترکیه می باشد.
                  شما با خرید ملک از پروژه های این شرکت می توانید پاسپورت ترکیه
                  را دریافت کنید و سالانه 9 درصد ارزش خریداری شده را اجاره
                  دریافت نمایید.
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>