<section id="internationalExhibitions">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      حضور در نمایشگاههای بین المللی
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify mt-4">
      <p class="fs-13 lh2">
        <i class="fa fa-adjust text-first-color fs-12 pl-1"></i>
        بسیاری از شرکت ها ایرانی علاقه مند به حضور در نمایشگاههای و رویداد های
        ترکیه هستند اما هم از نظر امکانات هم از نظر هزینه و هم از نظر زمان فرصت
        انجام این مهم را پیدا نمی کنند.
        <br>
        ما تیمی حرفه ای که برگزار کننده نمایشگاههای متعدد در ایران و خارج از
        ایران بوده اند این کار را برای شما آسان می کنیم.
        <br>
        ما به دو صورت برای شما در نمایشگاه شرکت می کنیم :

        <span class="d-block font-weight-bold pr-2 text-third-color
          international-exhibitions">
          روش کارگزاری
        </span>

        <span class="d-block font-weight-bold pr-2 text-third-color
          international-exhibitions">
          روش شراکت
        </span>

        هر روش معایا و مزایای خود را دارد.
        با ما در تماس باشید و از حضور در بازارهای جهانی لذت ببرید.

      </p>
    </div>
  </div>
</section>