<section id="RegisteringCompany" class="pb-3 pt-3">
  <div class="container">
    <div class="card mt-3 mb-3 p-4">
      <div class="main-header w-50">
        <h3 class="text-center fs-16 font-weight-bold text-third-color">
          راه اندازی و ثبت شرکت یا شعبه
        </h3>
      </div>
      <div class="content-page text-justify mt-4">


        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-circle"></i>
          ثبت شرکت در آلمان :
        </h5>
        <p class="fs-13 lh2">
          برای تاسیس شرکت خود در آلمان شما راه های مختلفی دارید یه این معنی که
          شما انواع مختلفی از شرکت ها را میتوانید در این کشور ثبت کنید که در سطر
          زیر به آنها اشاره شده است:
        </p>
        <ul class="fs-13 lh2">
          <li>
            شرکت های مسئولیت محدود که میتوان گفت بهترین و راحت ترین شرکت ها از
            نظر ثبت و فعالیت در انواع شرکت ها هستند.
            <br>
            شخص برای ثبت این نوع از شرکت ها میبایست هزینه ی اولیه ای معادل ۲۵
            هزار یورو را داشته باشند.
            <br>
            نکته ی مثبت در این نوع شرکت ها این است که تا ۳ شریک میتوانند اقدام
            به تاسیس آن نمایند.
          </li>
          <li>
            شرکت های سهامی عام یکی دیگر از انواع شرکت هایی است که متقاضیان
            میتوانند در کشور آلمان ثبت نمایند و تا ۵ شریک نیز میتوانند با یکدیگر
            اقدام به ثبت آن نمایند
            <br>
            هزینه ی اولیه مورد نیاز برای ثبت این نوع شرکت ها در کشور آلمان ۵۰
            هزار یورو است .
          </li>
        </ul>

        <p class="fs-13 lh2">
          سختی پروسه ی ثبت شرکت های سهامی عام این است که شرکت باید سهم های خود
          را وارد بازار بورس نمایند.
          <br>
          متقاضیان سرمایه گذاری در کشور آلمان انواع دیگری از شرکت ها را نیز
          میتوانند در این کشور ثبت نموده و شروع به بیزینس نمایند.
          <br>

          البته میتوان گفت به دلیل سخت بودن پروسه و نداشتن مزایای بیشتر, اکثر
          متقاضیان ترجیح میدهند ۲ نوع اول را انتخاب نمایند.
          <br>

          از انواع این شرکت ها میتوان شرکت های شراکت محدود را نام برد.
          <br>
          ذکر این نکته مهم است که پس از ثبت شرکت و سرمایه گذاری به متقاضی اقامت
          ۳ماهه این کشور داده خواهد شد.

          <br>
          برای این که اقامت متقاضی در سال های بعد نیز تمدید شود شروطی وجود دارد
          که اصلی ترین و مهمترین شرط آن این است که شرکت شما در مدت یک سال اول
          فعال باشد و به صورت نرمال مدیریت شده باشد.

          <br>

          از این رو ثبت شرکت آلمان تنها به جهت اخذ اقامت گزینه ی مناسبی نیست و
          قطعا لازم است که شما به دنبال ایجاد کسب و کار مورد نظر دولت آلمان
          باشید و بیزینس شما به صورت واقعی و مستمر ادامه داشته باشد و به عبارت
          ساده تر ، درآمد زا باشد.
        </p>
        <p>
          علاوه بر ثبت شرکت شما میتوانید انتخاب های دیگری برای سرمایه گذاری در
          آلمان داشته باشید.
          به عنوان مثال یک سرمایه گذار خارجی که در کشور خود دارای یک
          شرکت,کارخانه و یا به طور کلی یک بیزینس میباشد میتواند شعبه ای از شرکت
          خود را در کشور آلمان ثبت نماید.
          <br>

          کشور آلمان نه تنها از نظر قانونی این اجازه را به کارآفرینان خارجی
          میدهد که بیزینس خود را دراین کشور گسترش دهند بلکه از آنها حمایت نیز
          مینماید.
          <br>

          در انتها باید به این نکته اشاره کرد که اگر خواستار یک بیزینس موفق در
          یک کشور خارجی و با بازاری با ثبات هستید کشور آلمان یکی از مناسب ترین
          گزینه ها برای شماست.

        </p>

      </div>
    </div>
  </div>
</section>