<section id="SecondSection" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12 item-wrapper">
        <div class="bg-white item p-2 pb-3 position-relative pt-3 text-center
          w-100">
          <i class="fas fa-home fs-25 text-first-color"></i>
          <h3 class="fs-14 font-weight-bold mt-2">اقامت</h3>
          <p class="fs-12 pl-3 pr-3">
            
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 item-wrapper">
        <div class="bg-white item p-2 pb-3 position-relative pt-3 text-center
          w-100">
          <i class="fas fa-money-bill-wave fs-25 text-first-color"></i>
          <h3 class="fs-14 font-weight-bold mt-2">پروژه های سرمایه گذار ی </h3>
          <p class="fs-12 pl-3 pr-3">
            
          </p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 item-wrapper">
        <div class="bg-white item p-2 pb-3 position-relative pt-3 text-center
          w-100">
          <i class="fas fa-building fs-25 text-first-color"></i>
          <h3 class="fs-14 font-weight-bold mt-2">فروش ملک</h3>
          <p class="fs-12 pl-3 pr-3">
            
          </p>
        </div>
      </div>

    </div>
  </div>
</section>