<section id="aboutUs" class="relative">
    <div class="img-aboutus"></div>
    <div class="position-absolute about-content">
        <div class="container">
            <div class="card mt-4 border-0 shadow-sm aboutUs-wrapper">
                <div class="card-body">
                    <div class="title w-50 pb-3 mb-4 text-center">
                        <span class="entry-title font-weight-bold fs-14
                            text-third-color">
                            درباره ما
                        </span>
                    </div>
                    <p class="text-justify fs-14">
                        شرکت ما در سال 2015 در آلمان به ثبت رسید و هدف ما
                        مشاوره برای پیدا کردن بهترین راه حل جهت اقامت در
                        آلمان و ترکیه و همچنین مشارکت در پروژه های سرمایه
                        گذاری است.
                    </p>
                    <p class="text-justify fs-14">
                        شرکت ما دپارتمان های مختلفی در هر یک از این زمینه ها
                        دارد و همواره سعی کردیم بهترین راه حل را به ایرانیان
                        عزیز ارائه نمائیم. در بعضی از راه حل ها حتی منافع
                        شرکت ما نیز تامین نمی گردد اما هدف ما قبل از منافع
                        شرکت صرف درست هزینه توسط مشتریان عزیز می باشد.

                    </p>
                    <p class="text-justify fs-14">
                        همواره صداقت و راهنمایی صحیح و اصولی را سرلوحه کار
                        خود قرار دادیم و ما حاضر به کسب منافع در ضرر و زیان
                        هیچ کسی نیستیم.
                    </p>
                    <p class="text-justify fs-14">
                        تمام قرارداد های این شرکت زیر نظر وکیل بین المللی
                        تهیه و تنظیم و ثبت می گردد و به شما این اطمینان را
                        می دهیم که منافع دو طرف در آن لحاظ شده است.
                    </p>
                    <p class="text-justify fs-14">
                        متاسفانه به جهت تحریم هایی که علیه کشورمان ایران پیش
                        آمده، امکان سرمایه گذاری در بسیاری از مواقع در کشور
                        خودمان فراهم نیست یا ریسک های آن بقدری زیاد شده که
                        انجام پروژه ها بسیار غیرعقلانی به نظر می رسد.

                    </p>
                    <p class="text-justify fs-14">
                        پروژه هایی که توسط شرکت ما تعریف شده و می شوند تمام
                        جوانب آن بررسی شده و با حداقل ریسک ها پروژه ها به
                        شما معرفی می شود.
                    </p>
                    <p class="text-justify fs-14">
                        در خیلی از موارد دوستان به سود های منطقی با ریسک
                        پایین قانع نیستند اما باید بدانید که در خارج از
                        ایران سود های پروژه ها تعریف شده هستند و اطمینان
                        داشته باشید کسانی که سود های نجومی به شما پیشنهاد می
                        کنند هدف های شوم دیگری دارند.
                    </p>
                    <p class="text-justify fs-14">
                        پروژه های مهاجرت از دیگری برنامه های این شرکت است که
                        ما کم ریسک ترین برنامه ها را به شما معرفی می نماییم
                        که خدای ناکرده شاهد از دست رفتن زمان و سرمایه تان
                        نباشید.
                    </p>

                </div>
            </div>
        </div>
    </div>

</section>
