#companyRegistration {
  background: url("../../../../../assets/img/pages/companyRegistration.jpeg")
    no-repeat center center fixed;
  background-size: cover;
  .card {
    background: rgba(255, 255, 255, 0.9);
  }
  .main-header {
    border-bottom: solid 1px rgba(255, 161, 0, 0.6);
    margin: 0 auto;
  }
}
