<section id="companyRegistration" class="pb-3 pt-3">
  <div class="container">
    <div class="card mt-3 mb-3 p-4">
      <div class="main-header w-50">
        <h3 class="text-center fs-16 font-weight-bold text-third-color">
          ثبت شرکت
        </h3>
      </div>
      <div class="content-page text-justify mt-4">

        <p class="fs-13 lh2">
          رای هرگونه فعالیت تجاری-اقتصادی نظیر افتتاح رستوران، کافه، سالن زیبایی
          و … در ترکیه ابتدا باید ثبت شرکت کنید. همه ی افراد خارجی در ترکیه برای
          راه اندازی هر کسب و کاری ابتدا باید اقدام به ثبت شرکت کنند. با ثبت
          شرکت در ترکیه می توانید برای خود اجازه کار دریافت کنید و بعد از دریافت
          اجازه کار، شما میتوانید بدون محدودیت به ترکیه ورود و خروج داشته، خود
          را بیمه کنید و پس از ۵ سال اقامت دائم بگیرید به این موضوع توجه داشته
          باشید که صرفا جهت اخذ اقامت راههای ارزانتر و راحتتری نسبت به ثبت شرکت
          در ترکیه وجود دارد.
        </p>
        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          ثبت شرکت در ترکیه و ده نکته مهم و اساسی
        </h5>
        <p class="fs-13 lh2">
          در پروسه ثبت شرکت در ترکیه موارد مهم شامل موارد زیر است.
        </p>
        <ul class="fs-13 lh2">
          <li>
            ثبت شرکت در ترکیه بدون اقامت نیز انجام میشود و الزامی برای اخذ اقامت
            ترکیه قبل از ثبت شرکت در ترکیه نیست.
          </li>
          <li>
            ثبت شرکت در ترکیه سه حالت کلی دارد ثبت شرکت شخصی ،ثبت شرکت مسئولیت
            محدود و ثبت شرکت آنونیم یا تعاونی.
          </li>
          <li>
            در پروسه ثبت شرکت در ترکیه الزامی به این نیست که دفتر تجاری داشته
            باشید شما میتوانید آدرس منزل را نیز به عنوان هوم آفیس به اداره ثبت
            اعلام نمایید.
          </li>
          <li>
            ثبت شرکت به صورت شخصی بیشتر برای شهروندان ترک طراحی شده به عنوان
            مثال سرمایه ثبت شرکت بصورت یکبار باید در حساب نشان داد ولی در شرکت
            مسولیت محدود شما در ابتدا یک چهارم به عنوان سرمایه اولیه و سپس سه
            چهارم را میتوانید به دولت نشان دهید اهمیت این مسئله در اخذ اقامت
            کاری مشخص میشود.
          </li>
          <li>
            شما باید یک یا نهایتا دو عنوان کلی مانند شرکت مشاوره و بازرگانی ….
            یا شرکت ساختمانی و توریستی …. معرفی و لی در اساسنامه شرکت می توانید
            موضوعات کلی کاملا بی ارتباط مانند پزشکی و پوشاک یا ساختمان و … را با
            جزئیات بیاورید.
          </li>
          <li>
            پروسه ثبت شرکت در ترکیه طی یک هفته تا ده روز انجام میگیرد.
          </li>
          <li>
            طبق قانون کشور ترکیه شما باید یک حسابدار جهت انجام امور مالیاتی و
            اداری به دولت معرفی کنین تجربه و تخصص این حسابدار یا عدم تجربه و
            تخصص وی میتواند برای شرکت بسیار مهم باشد.
          </li>
          <li>
            بعد از ثبت شرکت شما باید یک چهارم مبلغ اجاره ماهیانه را به عنوان
            مالیات به اداره مالیات پرداخت کنید.
          </li>
          <li>
            در صورتیکه شما هیچگونه فاکتور نداشته باشید ماهیانه حداقل ۲۰۰ دلار
            جهت هزینه های معمول شرکت هزینه خواهید داشت.
          </li>
          <li>
            جهت اخذ اقامت کاری حداقل سرمایه شخص صد هزار لیر می باشد.
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          مراحل ثبت شرکت در ترکیه
        </h5>
        <p class="fs-13 lh2">
          ثبت شرکت در ترکیه مقدماتی دارد که مراحل آن را برای شما ذکر کرده ایم:
        </p>
        <ul class="fs-13 lh2">
          <li>
            ترجمه رسمی گذرنامه های شرکاء شرکت و تایید آنها در اداره ثبت و احوال
          </li>
          <li>
            انتخاب حسابدار رسمی ترک
          </li>
          <li>
            تنظیم اساسنامه شرکت
          </li>
          <li>
            اخذ شماره مالیاتی سهامداران شرکت از اداره مربوطه
          </li>
          <li>
            تنظیم فرم مخصوص تاسیس شرکت
          </li>
          <li>
            تنظیم فرم اتاق بازرگانی
          </li>
          <li>
            تنظیم فرم تعهد آدرس (اتاق بازرگانی)
          </li>
          <li>
            ثبت رسمی امضاء مدیرعامل در اداره ثبت احوال
          </li>
          <li>
            تایید رسمی اساسنامه دراداره ثبت احوال
          </li>
          <li>
            واریز ۱/۴ سرمایه شرکت در یکی از بانکهای ترکیه
          </li>
          <li>
            چاپ روزنامه رسمی شرکت
          </li>
          <li>
            تنظیم اجاره نامه محل شرکت
          </li>
          <li>
            اخذ شماره مالیاتی شرکت از اداره مربوطه
          </li>
          <li>
            تایید آدرس محل کار توسط مامور اداره مالیات
          </li>
          <li>
            دریافت کارت بازرگانی
          </li>
          <li>
            تصدیق دفاتر حسابداری
          </li>
          <li>
            افتتاح حساب بانکی شرکت
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          مدارک لازم جهت ثبت شرکت در ترکیه
        </h5>
        <p class="fs-13 lh2">
          برای ثبت شرکت در ترکیه باید مدارک زیر را به حسابرس ارائه دهید تا امور
          ثبت شرکت در ترکیه شما طی مدت یک هفته تا ۱۰ روز کاری انجام دهد قبل از
          ثبت شرکت در ترکیه باید کد اقتصادی را اماده نمایید
        </p>
        <ul class="fs-13 lh2">
          <li>
            اصل پاسپورت هر یک از شرکاء ( با اعتبار بیشتر از ۶ ماه )
          </li>
          <li>
            دو قطعه عکس ( رنگی – زمینه روشن )
          </li>
          <li>
            چند اسم انتخابی برای شرکت
          </li>
          <li>
            زمینه فعالیت شرکت
          </li>
          <li>
            تعیین درصد سهام هر یک از شرکاء در شرکت
          </li>
          <li>
            تعیین مدیر شرکت ( یکی از شرکاء )
          </li>
          <li>
            تعیین آدرس دفتر شرکت در ترکیه
          </li>
          <li>
            دادن وکالت به شخص تعیین شده برای ثبت شرکت
          </li>
          <li>
            حداقل سرمایه ۱۰۰۰۰ لیر ترکیه که یک چهارم آن (۲۵۰۰ لیر) به مدت چند
            روز در حساب شرکت مسدود می شود.
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          هزینه های جاری یک شرکت در ترکیه :
        </h5>
        <ul class="fs-13 lh2">
          <li>
            هزینه حسابدار ( هزینه حسابدار رسمی ماهانه ۴۰۰ لیر به بالا )
          </li>
          <li>
            هزینه کارمند ( اجباری نیست ولی بهتر است برای اعتبار شرکت در آینده
            پرداخت شود )
          </li>
          <li>
            هزینه اجاره محل دفتر
          </li>
          <li>
            هزینه حقوق و بیمه کارمند و بیمه اعضای شرکت
          </li>
          <li>
            هزینه آب ، برق ، تلفن و اینترنت
          </li>
          <li>
            در صورتی که محل کار اجاره باشد ۲۳ درصدمالیات بر اجاره (استوپاژ)
          </li>
          <li>
            هزینه های دفاتر رسمی و پلمپ آن دردارایی (سالانه حدودا ۱۰۰۰ لیر )
          </li>
          <li>
            مالیات بر درآمد ( معادل ۱۸ % سود خالص شرکت )
          </li>
        </ul>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          مزایای ثبت شرکت در ترکیه
        </h5>
        <ul class="fs-13 lh2">
          <li>
            نیازی به داشتن شریک ترک ندارید و می توانید ۱۰۰ درصد مالک شرکت خود
            باشید.
          </li>
          <li>
            از طریق ترکیه می توانید با بازارهای جهانی در ارتباط باشید.
          </li>
          <li>
            ایران و ترکیه رابطه تجاری بسیار مناسبی با هم دارند.
          </li>
          <li>
            هزینه ثبت و نگهداری شرکت در ترکیه بسیار پایین تر از کشورهای دیگر
            است.
          </li>
          <li>
            هزینه های زندگی در ترکیه بسیار پایین تر از دیگر کشورهای اروپایی است.
          </li>
          <li>
            مالیات در ترکیه بر اساس هزینه ی درآمدی خود است.
          </li>
          <li>
            پروسه ثبت شرکت در ترکیه طولانی نیست.
          </li>
        </ul>
        <p class="fs-13 lh2">
          توجه داشته باشید اگر کارمند شهروند ترک داشته باشید و از روز اول او را
          بیمه نمایید، علاوه بر پایین تر بودن حق بیمه، روند دریافت اقامت کاری
          ترکیه نیز آسانتر خواهد شد.
        </p>

        <h5 class="fs-15 text-first-color font-weight-bold">
          <i class="fa fa-check-double"></i>
          استراتژی شرکتها کسب وکار در بازار ترکیه
        </h5>
        <ul class="fs-13 lh2">
          <li>
            اخذ گواهي CE و استانداردهاي اروپا
          </li>
          <li>
            مذاكره با يك بازرگان و يا موسسه محلي تركيه براي اعطاي نمايندگي تحت
            برند و علامت تجاري شركت ايراني
          </li>
          <li>
            ثبت برند و علامت تجاري در كشور تركيه
          </li>
          <li>
            برپايي كنفرانس ها يا سمينارهاي دوره اي معرفي محصول و نام تجاري در
            هتل هاي معروف و معتبر و يا اتاق هاي صنعت تركيه
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>