<section id="StudentResidence">
  <div class="main-header">
  </div>
  <div class="container">
    <div class="title w-50 pb-3 mt-4 mb-4 text-center">
      <span class="entry-title font-weight-bold fs-14 text-third-color">
        اقامت دانشجویی
      </span>
    </div>
    <div class="content-page text-justify">
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-circle fs-18 pl-2"></i>
        اقامت دانشجویی و تحصیلی ترکیه
      </h5>
      <p class="fs-13 lh2">
        برای گرفتن این نوع اقامت باید ابتدا درآزمون تومر شرکت کرده و مدرک تومر
        را بگیرید. با داشتن این مــــدرک شما در کمتر از ۳ ماه می توانید اقامت
        دانشجویی در کشور ترکیه را فراهم کنید. البته اخذ پذیرش از موسسات آموزشی
        نیز پیشاپیش ملاک اعطای این نوع اقامت خواهد بود. این روش اخذ اقامت برای
        آنانی که قصد اقامت قطعی در ترکیه را دارند نیز موکدا توصیه می گردد.
      </p>
      <p class="fs-13 lh2">
        در ماده ۳۸ الی ۴۱ قانون اتباع خارجی و حفاظت بین المللی به شماره ۶۴۵۸،
        مقررات اجازه اقامت دانشجویی تنظیم گردیده است. همچنین در ماده ۳۵ و ۳۹
        آئین نامه اجرائی قانون اتباع خارجی و حفاظت بین المللی، مقررات اجازه
        اقامت دانشجویی تنظیم گردیده است.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question-square text-first-color  fs-18 pl-1"></i>
        برای کدام اتباع خارجی اجازه اقامت دانشجویی تنظیم می گردد؟
      </h5>
      <p class="fs-13 lh2">
        به اتباع خارجی که فاقد اجازه اقامت خانوادگی بوده و قصد تحصیل در دور ه
        آموزشی ابتدایی و یا راهنمایی را دارند (اتباع خارجی دارنده اجازه اقامت
        خانوادگی که قصد تحصیل در دوره ابتدایی و راهنمایی را دارند تا سن ۱۸ سالگی
        بدون نیاز به اخذ اجازه اقامت می توانند به تحصیل خود ادامه دهند. اما دانش
        آموزانی که ۱۸ سال خود را تکمیل نموده و هنوز در حال تحصیل در دوره
        راهنمایی می باشد، باید اجازه اقامت دریافت نمایند.) اتباع خارجی که در
        کشور ما در یک مرکز آموزش عالی در سطح کاردانی، کارشناسی، کارشناسی ارشد،
        دکتری، آموزش تخصصی پزشکی (TUS)، آموزش تخصصی دندانپزشکی (DUS) آموزش
        خواهند دید، اجازه اقامت دانشجویی داده خواهد شد. اجازه اقامت دانشجویی،
        تنها حق حامی بودن برای مراجعه جهت اجازه اقامت همسر و فرزندان فراهم می
        آورد. برای سایر نزدیکان در خصوص اخذ اجازه اقامت هیچگونه حقی فراهم نمی
        آورد.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question-square text-first-color  fs-18 pl-1"></i>
        اجازه اقامت دانشجویی ترکیه برای مدت های چند ساله قابل تنظیم می باشد؟
      </h5>
      <p class="fs-13 lh2">
        اگر دوره آموزشی دانشجوی خارجی کمتر از یکسال می باشد، مدت اجازه اقامت نمی
        تواند بیشتر از دوره آموزشی باشد. به اتباع خارجی که به واسطه سازمان و
        نهادهای دولتی به ترکیه آمده و آموزش خواهند دید، در طول مدت آموزش، اجازه
        اقامت داده خواهد شد. برای اتباع خارجی که در دوره ابتدایی و راهنمایی
        آموزش خواهند دید و سرپرستی هزینه های آنها از سوی فردی حقیقی و یا حقوقی
        بر عهده گرفته شده است، با ارائه رضایتنامه از سوی ولی و یا سرپرست قانونی
        وی، برای طول مدت تحصیل اجازه اقامت های یک ساله صادر گردیده و قابل تمدید
        می باشد.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question-square text-first-color  fs-18 pl-1"></i>
        شروط لازم برای اجازه اقامت دانشجویی ترکیه چیست؟
      </h5>
      <p class="fs-13 lh2">
        برای تنظیم اجازه اقامت دانشجویی ترکیه، اتباع خارجی باید دارای شروط ذکر
        شده در ماده ۳۹ قانون باشند. – ارائه مدارک و اطلاعات حامی، نشان دهنده هدف
        از اقامت در ترکیه (ماده ۳۸ قانون)، – مشمول ماده ۷ قانون مذکور نبودن، –
        ارائه آدرس محل اقامت در ترکیه.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question-square text-first-color  fs-18 pl-1"></i>
        بیمه بهداشت و درمان برای اجازه اقامت دانشجویی
      </h5>
      <p class="fs-13 lh2">
        بر اساس احکام قانون بیمه های اجتماعی و قانون بیمه بهداشت و درمان عمومی،
        از دانشجویان خارجی که ظرف مدت سه ماه از تاریخ اولین ثبت نام جهت بیمه
        بهداشت و درمان عمومی مراجعه نمایند، بیمه بهداشت و درمان جداگانه خواسته
        نخواهد شد. اما از کسانی که ظرف مدت سه ماه از تاریخ ثبت نام مراجعه ننموده
        و حق بیمه بهداشت و درمان عمومی را از دست دهند، بیمه بهداشت و درمان خصوصی
        خواسته خواهد شد.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question-square text-first-color  fs-18 pl-1"></i>
        امور مربوط به تغییر دانشگاه، دانشکده و یا رشته دانشجویان آموزش عالی
      </h5>
      <p class="fs-13 lh2">
        <span class="d-block font-weight-bold pr-2 text-third-color
          student-residence-turkey">
          الف) در صورت تغییر دانشکده و یا رشته در همان مرکز آموزشی و یا تغییر
          مرکز آموزشی در همان استان، به شرط آنکه در تحصیل وقفه ای ایجاد نگردد و
          در موعد مقرر اطلاع داده شود، اجازه اقامت موجود، همچنان معتبر خواهد
          بود. اگر مدت اجازه اقامت از مدت تحصیل کوتاه تر باشد، هنگامی که اجازه
          اقامت پایان یافت به میزان مدت تحصیل تمدید خواهد گردید.
        </span>
        <span class="d-block font-weight-bold pr-2 text-third-color
          student-residence-turkey">
          ب) در صورتی که ادامه تحصیل در شهر دیگری ادامه خواهد یافت، از سوی
          استانداری استانی که تحصیل در آن ادامه می یابد، اجازه اقامت موجود قطع
          گردیده و تا زمان تحصیل جدید، اجازه اقامت تنظیم خواهد گردید.
        </span>
      </p>

      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-circle fs-18  pl-2"></i>
        حق اشتغال دانشجویان در ترکیه
      </h5>
      <p class="fs-13 lh2">
        تمامی دانشجویان کاردانی، کارشناسی، کارشناسی ارشد و دکتری که در ترکیه در
        حال تحصیل می باشند، به شرط دریافت اجازه کار، می تواند کار کنند. اما حق
        اجازه کار برای دانشجویان کاردانی و کارشناسی پس از سال اول فراهم می گردد.
        مراجعات جهت اجازه کار به وزارت کار و تامین اجتماعی صورت می پذیرد.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question-square text-first-color  fs-18 pl-1"></i>
        دلایل رد، ابطال و عدم تمدید اجازه اقامت دانشجویی ترکیه چیست؟
      </h5>
      <ul class="fs-13 lh2">
        <li>
          در صورتی که شروط لازم برای تنظیم اجازه اقامت دانشجویی ترکیه فراهم
          نگردد و یا از بین برود،
        </li>
        <li>
          ثابت گردد که قصد ادامه تحصیل ندارد،
        </li>
        <li>
          در صورت تثبیت این امر که اجازه اقامت دانشجویی ترکیه برای اهدافی غیر از
          اهداف صدور اجازه اقامت استفاده شده باشد،
        </li>
        <li>
          در خصوص وی حکم بر اخراج از کشور و یا ممنوعیت ورود به ترکیه وجود داشته
          باشد،
        </li>
      </ul>
      <p class="fs-13 lh2">
        در این شرایط اجازه اقامت داده نخواهد شد، و در صورتی که داده شده باشد
        باطل خواهد گردید و در صورت اتمام مدت آن تمدید نخواهد گردید.
      </p>
    </div>
  </div>
</section>
