<section id="taxServices">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      حسابداری و خدمات مالیاتی
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify">

      <p class="fs-13 lh2">
        یکی از مهمترین مسایلی که شما باید در شرکت خود در آلمان دقت کنید بحث
        مالیات است. چون عدم رعایت این مورد می تواند منجر به اخراج شما از آلمان
        شود.
      </p>
      <p class="fs-13 lh2">

        پس از ابتدا با مشاوران ما همراه شوید، بگذارید همه چیز منظم و با قانون
        پیش برود تا شما بتوانید همیشه در آلمان کار کنید و از حمایت های بی نظیر
        دولت بهره مند شوید، مهم نیست شما چقدر مالیات می دهید مهم این است که
        اسناد شما درست و دقیق باشد و صادقانه تمام هزینه های و سود خود را اظهار
        کنید.
      </p>

    </div>
  </div>
</section>