<footer class="bg-second-color mt-5">
  <div class="container">
    <div class="footer-wrapper pt-5 pb-3">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12 text-right">
          <h3 class="font-weight-bold fs-14 text-third-color title mb-2">
            آینده روشن
          </h3>
          <ul class="m-0 p-0">
            <li class="fs-12 pb-2 text-white">
              <a routerLink="/aboutUs">درباره ما</a>
            </li>
            <li class="fs-12 pb-2 text-white">
              <a href="#">مشاوره مهاجرت</a>
            </li>
            <li class="fs-12 pb-2 text-white">
              <a href="#">تماس با ما</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 text-right">
          <h3 class="font-weight-bold fs-14 text-third-color title mb-2">
            خدمات ترکیه
          </h3>
          <ul class="m-0 p-0 d-inline-block" style="min-width: 200px;">
            <li class="fs-12 pb-2 text-white"><a routerLink="/touristResidence">
                اقامت توریستی </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/workResidence">
                اقامت کاری </a></li>
            <li class="fs-12 pb-2 text-white"><a
                routerLink="/permanentResidency"> اقامت دائم </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/passport"> پاسپورت
                (شهروندی)
              </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/studentResidence">
                اقامت دانشجویی </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/bankAccount">
                افتتاح حساب بانکی
              </a></li>
            <li class="fs-12 pb-2 text-white"><a
                routerLink="/companyRegistration"> ثبت شرکت </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/marketResearch">
                تحقیقات بازار
              </a></li>
          </ul>
          <ul class="m-0 p-0 d-inline-block">
            <li class="fs-12 pb-2 text-white"><a
                routerLink="/internationalExhibitions"> حضور در نمایشگاههای
                بین المللی
              </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/hotelsProject">پروژه
                هتل های کوچک
              </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/digitalCurrency">
                صرافی دیجیتال
              </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/bitcoin"> سرمایه
                گذاری در
                استخراج بیت کوین
              </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/NoelTower"> پروژه
                نورل تاور
                (شیشلی)
              </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/NoelPark"> پروژه
                نورل پارک
                (باهچه شهیر)
              </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/NoelLife"> پروژه
                نورل لایف
                (ماسلاک)
              </a></li>
            <li class="fs-12 pb-2 text-white"><a routerLink="/Avarpa">پروژه
                آورپا (عمرانیه)
              </a></li>

          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 text-right">
          <h3 class="font-weight-bold fs-14 text-third-color title mb-2">
            خدمات آلمان
          </h3>
          <ul class="m-0 p-0">
            <li class="fs-12 pb-2 text-white">
              <a routerLink="/entrepreneurialResidency">اقامت کارآفرینی</a>
            </li>
            <li class="fs-12 pb-2 text-white">
              <a routerLink="/registeringCompany">راه اندازی و ثبت شرکت یا شعبه
              </a>
            </li>
            <li class="fs-12 pb-2 text-white">
              <a routerLink="/TrademarkRegistration">حسابداری و خدمات مالیاتی
              </a>
            </li>
            <li class="fs-12 pb-2 text-white">
              <a routerLink="/TaxServices">ثبت برند و علامت تجاری</a>
            </li>
            <li class="fs-12 pb-2 text-white">
              <a routerLink="#">دفتر کار و خدمات کاری</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class="bg-third-color copyright pb-2 pt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-right">
          <span class="text-white fs-13">
            کلیه حقوق این سایت محفوظ می‌باشد.
          </span>
        </div>
        <div class="col-md-6 text-left">
          <ul class="socials m-0 p-0">
            <li class="socials__telegram bg-first-color d-inline-block mr-2
              relative">
              <a href="#" target="_blank" class="icon text-center">
                <i class="d-block fa fa-paper-plane position-absolute
                  text-white"></i>
              </a>
            </li>
            <li class="socials__instagram bg-first-color d-inline-block mr-2
              relative">
              <a href="#" target="_blank" class="icon text-center">
                <i class="d-block fab fa-instagram relative position-absolute
                  text-white fs-20"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>