<section id="ThirdSection" class="mt-5">
  <div class="container">
    <div class="card border-0 shadow-sm">
      <div class="card-body text-center">
        <div class="title w-50 pb-3">
          <span class="entry-title font-weight-bold fs-14 text-third-color">
            درباره ما
          </span>
        </div>
        <div class="content mt-4">
          <p class="fs-13 lh2 text-justify">
            شرکت ما در سال 2015 در آلمان به ثبت رسید و هدف ما
            مشاوره برای پیدا کردن بهترین راه حل جهت اقامت در
            آلمان و ترکیه و همچنین مشارکت در پروژه های سرمایه
            گذاری است.

            شرکت ما دپارتمان های مختلفی در هر یک از این زمینه ها
            دارد و همواره سعی کردیم بهترین راه حل را به ایرانیان
            عزیز ارائه نمائیم. در بعضی از راه حل ها حتی منافع
            شرکت ما نیز تامین نمی گردد اما هدف ما قبل از منافع
            شرکت صرف درست هزینه توسط مشتریان عزیز می باشد.

          </p>
          <p class="fs-13 lh2 text-justify">
            همواره صداقت و راهنمایی صحیح و اصولی را سرلوحه کار
            خود قرار دادیم و ما حاضر به کسب منافع در ضرر و زیان
            هیچ کسی نیستیم.
            <a class="fs-14 pr-2 text-first-color" routerLink="/aboutUs"> ادامه
              ... </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>