<section id="workResidence">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      اقامت کاری
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify">
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        اقامت کاری ترکیه چیست؟
      </h5>
      <p class="fs-13 lh2">
        دریافت اجازه کار ترکیه برای تمامی افرادی که قصد استخدام در ترکیه و یا
        راه اندازی کسب و کار در این کشور را دارند، الزامی است.
      </p>

      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        چه افرادی می‌توانند اجازه کار ترکیه را دریافت نمایند؟
      </h5>
      <p class="fs-13 lh2">
        افرادی که یکی از شرایط زیر را داشته باشند می‌توانند اجازه کار ترکیه را
        دریافت کنند:
        <span class="d-block font-weight-bold pr-2 text-third-color
          work-turkey">
          افرادی که از یک شرکت ترک پیشنهاد همکاری دارند.
        </span>
        <span class="d-block font-weight-bold pr-2 text-third-color
          work-turkey">
          شهروندان خارجی که کارت اقامت معتبر دارند. مانند کسانی که اقامت توریستی
          ترکیه و یا ویزای درمان پزشکی یا فعالیت ورزشی (با حداقل ۶ ماه اعتبار)
          دارند. (به جز دارندگان اقامت تحصیلی)
        </span>
      </p>
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        فرآیند اخذ اقامت کاری چه مدت طول می‌کشد؟
      </h5>
      <p class="fs-13 lh2">
        معمولاً کل پروسه بررسی و دریافت اقامت کاری ترکیه ۹۰ روز زمان خواهد برد.
      </p>

      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        مزایای اخذ اقامت کاری ترکیه کدامند؟
      </h5>
      <ul class="fs-13 lh2">
        <li>
          امکان دریافت اقامت بلند مدت ترکیه. (بعد از گذشت ۸ سال متوالی کار و
          زندگی بدون وقفه در ترکیه می‌توان اقامت بلند مدت ترکیه را دریافت نمود.)
        </li>
        <li>
          بعد از ۴ سال کار رسمی در ترکیه می‌توانید جهت اخذ شهروندی این کشور
          درخواست بدهید و در صورت موافقت مسئولین، پاسپورت ترکیه را دریافت
          می‌کنید.
        </li>
        <li>
          استفاده از بیمه درمانی ترکیه که تمامی هزینه‌های درمانی شما را پرداخت
          می‌کند.
        </li>
        <li>
          با کار در ترکیه، شما دارای سابقه کار بین المللی خواهید بود و می‌توانید
          از آن برای مهاجرت به کشورهای دیگر استفاده کنند.
        </li>
      </ul>

      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        محدودیت‌ها و مشکلات اقامت کاری ترکیه چیست؟
      </h5>
      <ul class="fs-13 lh2">
        <li>
          اکثر کارفرمایان و شرکت‌های ترک تمایل دارند که شما تسلط کافی به زبان
          ترکی (برای برقراری ارتباط مؤثر با مشتریان) داشته باشید.
        </li>
        <li>
          به دلیل رقابت بسیار برای کسب شغل، شما باید به طور آنلاین و به روز،
          فرصت‌های شغلی را برای به دست آوردن کار مناسب دنبال کنید.
        </li>
        <li>
          ترک‌ها بیشتر از حد نرمال (نسبت به سایر کشورها) و حدود ۴۵ ساعت در هفته
          کار می‌کنند.
        </li>
      </ul>

    </div>
  </div>
</section>