<section id="passport">
  <div class="main-header">
  </div>
  <div class="container">
    <div class="title w-50 pb-3 mt-4 mb-4 text-center">
      <span class="entry-title font-weight-bold fs-14 text-third-color">
        پاسپورت (شهروندی)
      </span>
    </div>
    <div class="content-page text-justify">
      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        پروسه شهروندی ترکیه چگونه عمل می کند؟
      </h5>
      <p class="fs-13 lh2">
        هنگامی که شما ملکی به ارزش بیش از 250.000 دلار خریداری می کنید، جهت اخذ
        شهروندی ترکیه، درخواست خود را به اداره کل زمین و کاداستر (اداره تاپو)
        ارسال می کنید. بعد از درخواست شما، آنها گزارش ارزیابی و اسناد انتقال
        بانکی را بررسی می کنند. اداره تاپو مدارک شهروندی را بین 3 تا 7 روز تایید
        می کند. با تاییدیه شهروندی، ما در همان روز و بدون آنکه در انتظار وقت
        ملاقات بمانیم، جهت اجازه اقامت همزمان، به اداره مهاجرت مراجعه خواهیم
        کرد. با تصویب و اجازه اقامت، ما درنهایت در همان روز به اداره کل جمعیت و
        شهروندی مراجعه خواهیم کرد. پس از درخواست تاپو، تمام فرآیند در دفتر
        اطلاعات شهروندی خاص در استانبول و آنکارا دنبال می شود. آنها درخواست
        شهروندی را در 30 روز نهایی می کنند.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        چگونه باید نرخ تبدیل دلار و لیر را محاسبه کرد؟
      </h5>
      <p class="fs-13 lh2">
        در تاریخ درخواست، اداره تاپو بر مبنای نرخ فروش بانک مرکزی ترکیه (efektif
        satış kuru) ارزش را محاسبه می کند.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        این روند چقدر طول می کشد؟
      </h5>
      <p class="fs-13 lh2">
        این پروسه تا 30 روز طول می کشد. دولت به منظور کاهش زمان، یک دفتر ویژه
        شهروندی افتتاح کرده است.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        آیا نکته مهم و حیاتی وجود دارد که من باید بدانم؟
      </h5>
      <p class="fs-13 lh2">
        وزارتخانه می خواهد مطمین شود که حداقل ارزش 250.000 دلار است. شرکت های
        قسم خورده ارزش گذاری املاک متبحر برای جلوگیری از تقلب در قیمت، صحت آنها
        را تایید می کنند. ارزیابان ممکن است تا 20 درصد انحراف (تفاوت) نسبت به
        قیمت فروش داشته باشند. بنابراین آنتالیاهومز به شما توصیه می کند که ملکی
        را خریداری کنید که این ارزیابی را برآورده کند.
      </p>
      <p class="fs-13 lh2">
        <strong>
          همانگونه که ما برای شما بهترین قیمت آنچه که برای شهروندی خریداری می
          نمایید را تضمین می کنیم، در مورد گزارش ارزیابی نیز همانگونه عمل می
          کنیم. ما به شما بهترین قیمت املاکی را که با گزارش ارزیابی مطابقت دارند
          توصیه خواهیم کرد.
        </strong>
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        آیا نیازی به مصاحبه یا آزمایش در مراحل کار وجود دارد؟
      </h5>
      <p class="fs-13 lh2">
        خیر.
      </p>
      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        وقتی که تمام شرایط را برآورده کنم، آیا شهروندی به من به طور خودکار اعطا
        می شود؟
      </h5>
      <p class="fs-13 lh2">
        خیر، تصدیق شهروندی به تایید گزارش پرونده های واحد امنیتی ملی بستگی دارد
        که متقاضی هیچ تهدیدی برای امنیت ملی ندارد.
      </p>
      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        به نظر می رسد درخواست و گرفتن شهروندی ترکیه پیچیده است. آیا من برای این
        روند به کمک و همراهی نیاز دارم؟
      </h5>
      <p class="fs-13 lh2">
        تیم متخصص آنتالیا هومز با شما خواهد بود تا در طی این روند شما را هدایت
        کند. ما از سال 2004 رضایت 100 درصدی مشتریان مان را در مسیرشان برای رسیدن
        به خانه های رویایی شان، تضمین می کنیم..
      </p>
      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        من وقت ندارم که به ترکیه بروم، چگونه می توانم شهروندی ترکیه را دریافت
        کنم؟
      </h5>
      <p class="fs-13 lh2">
        اگر برای آنتالیا هومز وکالتمانه بفرستید، ما ممکن است برای شما تمام پروسه
        را از ابتدا تا انتها پیگیری کنیم.
      </p>
      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        چگونه شهروندی ترکیه را به عنوان یک مهاجر (فرد بدون ملیت) دریافت کنم؟
      </h5>
      <p class="fs-13 lh2">
        هنگامی که شما حداقل 250.000 دلار ملک خریداری می کنید، می توانید شهروندی
        ترکیه را با مدارکی که بدون ملیت بودن شما را اثبات می کند دریافت کنید.
        (سند مسافرتی که توسط سازمان ملل صادر شده باشد.)
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        فرایند شهروندی ممکن است 2 ماه طول بکشد. آیا طی این پروسه اجازه اقامت
        دریافت می کنم؟
      </h5>
      <p class="fs-13 lh2">
        اجازه اقامت (شماره: 6458/31-J) به شما و خانواده تان داده می شود. ما مجوز
        اقامت را در همان روز پس از تایید ملک شما بدون اتلاف وقت دریافت می کنیم.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        آیا در صورت اخذ شهروندی ترکیه، باید خدمت در ارتش ترکیه را بگذرانم؟
      </h5>
      <p class="fs-13 lh2">
        برای این پرسش چند پاسخ وجود دارد. اگر فرزند شما زیر 18 سال است، هنگامی
        که به سن نظام وظیفه برسد، بله، آنها موظف به انجام خدمات نظامی (سربازی)
        هستند. برای شهروندان دو تابیعیتی شرایط وجود دارد؛ شما این امکان را دارید
        که بین دو کشور انتخاب کنید. اگر قبلا خدمت سربازی را تکمیل کرده اید، ممکن
        است لازم باشد تا آن را ثابت کنید. برای افراد بالای 22 سال، لازم است در
        تقاضانامه سوال کنید که آیا شرایط خاصی در اداره کل جمعیت و شهروندی برای
        اطلاعات مناسب در این خصوص وجود دارد.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        کدام ملیت ها می توانند برای پاسپورت ترکیه درخواست دهند؟
      </h5>
      <p class="fs-13 lh2">
        تمام ملیت هایی که قادر به خرید ملک در ترکیه هستند، می توانند برای
        شهروندی ترکیه از طریق سرمایه گذاری ترکیه درخواست دهند.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        آیا اقامت در ترکیه برای کسب شهروندی اجباری است؟
      </h5>
      <p class="fs-13 lh2">
        خیر
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        آیا امکان تابعیت دوگانه در ترکیه وجود دارد؟
      </h5>
      <p class="fs-13 lh2">
        بله، ترکیه اجازه می دهد تا فرد ملیت دوگانه داشته باشد، اما شما باید با
        کشور مادری خود این مطلب را چک کنید زیرا بسیاری از کشورها مانند هند، چین
        و عربستان سعودی ملیت دوگانه را به رسمیت نمی شناسند و یا محدودیت های خاصی
        در خصوص آن دارند.
      </p>

      <h5 class="fs-15 text-third-color font-weight-bold">
        <i class="fa fa-question fs-20 text-first-color"></i>
        آیا جایگزین برای شهروندی ترکیه وجود دارد؟
      </h5>
      <p class="fs-13 lh2">
        اگر بودجه شما برای شهروندی ترکیه از طریق سرمایه گذاری کافی نباشد، می
        توانید برای یک کارت فیروزه ای اقدام کنید. کارت فیروزه ای مثل گرین کارت
        ایالات متحده است. دارنده کارت فیروزه تمام حقوق یک شهروند ترک را به جز حق
        رأی و خدمت اجباری نظامی برای مردان را دارا است.
      </p>

    </div>
  </div>
</section>