<section id="taxServices">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      ثبت برند و علامت تجاری
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify">
      <p class="fs-13 lh2">
        شما در آلمان می توانید برند و علامت تجاری خود را ثبت کنید، محصول خود یا
        خدمات خود را ارایه دهید و نگران کپی برداری نباشید.
        <br>
        ما برای شما این خدمات را انجام می دهیم.
      </p>

    </div>
  </div>
</section>