<section id="bankAccount">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      افتتاح حساب بانکی
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify mt-4">
      <p class="fs-13 lh2">
        در حال حاضر یکی از بزرگترین مشکلات ایرانی های عزیز افتتاح حساب در بانک
        های خارجی، دریافت دبیت کارت و کردیت کارت است.
      </p>
      <p class="fs-13 lh2">
        در کشور ترکیه شما می توانید در بعضی از بانک های این کشور حساب با ارز
        لیر، دلار و یورو باز کنید و به راحتی در خرید های حضوری و اینترنتی از این
        کارت استفاده نماید.
      </p>
      <p class="fs-13 lh2">
        شرکت ما شما را در انجام این کار همراهی خواهد کرد.
      </p>
    </div>
  </div>
</section>