<section id="Avarpa">

    <div class="container">
        <div class="border-0 card mb-5 mt-3 p-4 shadow-lg">
            <div class="main-header w-50">
                <h3 class="text-center fs-16 font-weight-bold text-third-color">
                    پروژه آورپا (عمرانیه)
                </h3>
            </div>
            <div class="content-page text-justify mt-4">
                <p class="fs-13 lh2">
                    این پروژه در منطقه عمرانیه واقع شده است و سازنده ای به نام
                    آنرا ساخته است. واحد های خوش نقشه و نورگیر همچنین دسترسی
                    پروژه به مترو و بزرگراه تم از مزایای این پروژه است. با خرید
                    از این پروژه می توانید اقامت یا پاسپورت ترکیه را دریافت
                    کنید.
                </p>
            </div>
        </div>

        <carousel>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/1.jpg" alt="first
                    slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/2.jpg" alt="first
                    slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/4.jpg" alt="first
                    slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/5.jpg" alt="first
                    slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/6.jpg" alt="first
                    slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/7.jpg" alt="first
                    slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/8.jpg" alt="first
                    slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/9.jpg" alt="first
                    slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/10.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/11.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/12.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/13.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/14.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/15.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/16.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/17.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/18.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/19.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/20.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/21.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/22.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/23.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/24.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/25.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/26.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/27.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/28.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/29.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/30.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/31.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/32.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/33.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/34.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/35.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
            <slide>
                <img src="../../../../../assets/img/pages/Avarpa/36.jpg"
                    alt="first slide"
                    style="display:
                    block; width: 100%;">
            </slide>
        </carousel>
    </div>
</section>