<section id="permanentResidence">
  <div class="main-header">
    <h3 class="text-center fs-16 font-weight-bold text-third-color">
      اقامت دائم
    </h3>
  </div>
  <div class="container">
    <div class="content-page text-justify">
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        اقامت ترکیه با خرید ملک چیست؟
      </h5>
      <p class="fs-13 lh2">
        بر اساس قوانین کشور ترکیه، هر تبعه خارجی می تواند با خرید ملک در این
        کشور، نسبت به اخذ اقامت ترکیه اقدام کند و این اقامت تا زمانی که ملک
        خریداری شده در تملک متقاضی باشد، تمدید می شود.
      </p>
      <p class="fs-13 lh2">
        در نظر داشته باشید که علاوه بر مزایای متعدد این روش که در ادامه به آنها
        اشاره خواهیم کرد، با داشتن این اقامت شما می توانید برای سایر روش های
        مهاجرتی، از طریق سفارتخانه های آن کشورها در ترکیه (خصوصاً کشورهای
        اروپایی) به مراتب سریعتر و راحتتر اقدام کنید.
      </p>
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        شرایط اخذ اقامت ترکیه از طریق خرید ملک چیست؟
      </h5>
      <p class="fs-13 lh2">
        شما برای این کار در ابتدا باید به ترکیه سفر کرده و با بازدید از املاک
        مختلف، ملک مدنظر خود را انتخاب کنید. پس از خرید ملک و انتقال سند به نام
        شما، می توانید از اداره مهاجرت ترکیه (Göç İdaresi)، برای دریافت اقامت
        درخواست وقت ملاقات (Randevu) کنید و در زمان مشخص شده با در دست داشتن
        مدارک لازم به این اداره مراجعه و اقامت یک ساله خود را دریافت کنید. مدارک
        و فرآیند انجام این کار در ادامه توضیح داده خواهد شد.
      </p>
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        حداقل سرمایه مورد نیاز برای خرید ملک در ترکیه چقدر است؟
      </h5>
      <p class="fs-13 lh2">
        از نظر قانون محدودیتی برای حداقل سرمایه جهت خرید ملک در ترکیه وجود
        ندارد. اما شما باید بدانید که برای خرید خانه در ترکیه حداقل به چه مقدار
        سرمایه نیاز دارید.
      </p>
      <p class="fs-13 lh2">
        قیمت خانه در ترکیه به عوامل گوناگونی نظیر شهر و محله انتخاب شده، قرار
        داشتن یا نداشتن ملک در برج ها و پروژه های بزرگ و مجهز، سن بنا، امکانات
        ملک و… بستگی دارد. اما به طور معمول قیمت خانه در ترکیه از متری ۳ تا ۷
        هزار لیر متغیر است و شما برای خرید یک خانه معمولی و کوچک (۵۰ متری) در
        ترکیه باید حداقل مبلغ ۱۵۰ هزار لیر به بالا را در نظر بگیرید.
      </p>
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        قیمت خانه در ترکیه به پول ایران چقدر است؟
      </h5>
      <p class="fs-13 lh2">
        قیمت خانه در ترکیه به پول ایران با توجه به قیمت روز لیر محاسبه می شود.
        به عنوان مثال؛ اگر قیمت لیر را بین ۲٬۲۰۰ تا ۲٬۵۰۰ تومان در نظر بگیریم
        (که در حال حاضر نیز حدود همین مقدار است)، بنابراین قیمت یک خانه ۱۵۰ هزار
        لیری در ترکیه، چیزی در حدود ۳۳۰ تا ۳۷۵ میلیون تومان خواهد بود.
      </p>
      <p class="fs-13 lh2">
        در نظر داشته باشید که با توجه به اینکه در حال حاضر قیمت خانه در تهران،
        حتی در محلات متوسط و رو به پایین نیز کمتر از ۶۰۰ میلیون تومان نیست، شما
        با همین مقدار پول می توانید یک خانه نسبتاً خوب در ترکیه خریداری کنید و
        از مزایای دریافت اقامت ترکیه نیز برخوردار شوید و در این کشور کار و زندگی
        کنید.
      </p>

      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        آیا ملک خریداری شده در ترکیه باید ویژگی های خاصی داشته باشد؟
      </h5>
      <p class="fs-13 lh2">
        بر اساس قوانین ترکیه، تنها شرط لازم در این فرآیند این است که باید شش
        دانگ سند ملک به نام متقاضی و یا به صورت مشترک به نام اعضای همان خانواده
        باشد و هیچ ویژگی خاصی برای ملک خریداری شده قید نشده است.
      </p>
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        آیا محدودیتی در انتخاب شهر برای خرید ملک در ترکیه وجود دارد؟
      </h5>
      <p class="fs-13 lh2">
        خیر. شما می توانید در هر شهری از ترکیه، ملک مدنظرتان را بر اساس سلیقه
        خود انتخاب کنید. اگر شما شهرهای مدرن، بزرگ و پرجمعیت را دوست دارید، خرید
        ملک در شهرهایی نظیر استانبول، آنکارا و ازمیر مناسب شماست، و اگر دوستدار
        طبیعت و فضای سرسبز هستید و همچنین قصد خرید خانه ارزان قیمت در ترکیه را
        دارید، شهرهایی نظیر آنتالیا، آنالیا و مارماریس را به شما پیشنهاد می
        کنیم.
      </p>
      <h5 class="fs-15 text-first-color font-weight-bold">
        <i class="fa fa-check-double"></i>
        آیا با خرید یک ملک در ترکیه، به اعضای خانواده فرد متقاضی نیز اقامت ترکیه
        داده می شود؟
      </h5>
      <p class="fs-13 lh2">
        بله. با خرید ملک در ترکیه می توانید برای خود، همسر و تمام فرزندان زیر ۱۸
        سال اقامت ترکیه را دریافت کنید.
      </p>
      <p class="fs-13 lh2">
        اگر شما دارای فرزند بالای ۱۸ سال هستید (که مشکل خدمت سربازی را ندارد)،
        می توانید او را در سند خانه شریک کنید تا برای او نیز به همراه خود اقامت
        ترکیه را دریافت کنید. البته به یاد داشته باشید که آفیسر سفارت ترکیه در
        این خصوص آزادی و اختیار عمل در تصمیم گیری دارد و می تواند این درخواست را
        رد کند.
      </p>

    </div>
  </div>
</section>
